body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url(brgg-fitness-centers-treadmill.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 12px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label,
  input,
  select {
    margin-bottom:6px;
    padding: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-top: 5px;
    padding: 12px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  